{% extends "base.html" %}

{% block section %}
<h4>Total Ingresos: {{ingreso}}€</h4>
<h4>Total Gastos: {{gasto}}€</h4>
<h4>Saldo Actual: {{ingreso + gasto}}€</h4>

<h1>Lista de movimientos</h1>

{% if data %}
        <table role="grid">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>

            </thead>
            <tbody>

                {% for movements in data %}
                <tr>
                    <td>{{movements.date}}</td>
                    <td>{{movements.concept}}</td>
                    <td>{{movements.quantity}}€</td>
                    <td>
                        <a href="/update/{{movements.id}}">
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </a>
                       
                        <a href="/delete/{{movements.id}}">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
               
            </tbody>
        </table>
{% else %}
<h3>No existen datos de movimientos...</h3>
{% endif %}
{% endblock %}